{% extends 'core/base.html' %}

{% load static %}

{% block title %}Nosotros{% endblock %}

{% block content%}

<!-- Page Header Start -->
<div class="container-fluid page-header-privacy py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Nosotros</h1>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <div class="row gx-3 h-100">
                    <div class="col-12 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" id="img_group" src="{%static 'core/img/about1.webp' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <!-- <h1 class="display-5 mb-4">We Are Leader In Industrial Market</h1> -->
                <p class="mb-4">Audio Parts Electronics es una empresa que tiene más de 30 años en el mercado 
                    consolidada como líder tanto en ventas de repuestos como en la importación de los mismos. 
                    Dentro de nuestras políticas tenemos el importar productos de calidad, con garantía y al 
                    mejor precio pensando siempre en el bienestar de nuestros clientes.
                </p>
                <p class="mb-4">Audio Parts Electronics como parte de su aporte a la comunidad también realiza 
                    congresos y capacitaciones para que los técnicos del Ecuador se encuentren a la banguardia 
                    en conocimientos acerca de toda innovación que se da a los productos electrónicos, además 
                    de, apoyar también al deporte.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">Visión</h1>
                <p class="mb-4">Ser reconocida en el 2025, como una de las mejores empresas del Ecuador, 
                    además de incrementar su presencia en el campo de repuestos automotrices, estableciendo 
                    un estatus de excelencia en la importación de repuestos de la mejor calidad, 
                    con garantía y al mejor precio.
                </p>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">Misión</h1>
                <p class="mb-4">Audio Parts Electronics se dedica a la importación y distribución de repuestos 
                    electrónicos para todo tipo de artefactos además de herramientas que ayuden al mantenimiento 
                    y reparación de estos productos de acuerdo con la necesidad del cliente, cuenta con personal 
                    capacitado y una excelente relación calidad-precio en sus servicios.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-12">
                <div class="row gx-3 h-100">
                    <div class="col-12 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="{%static 'core/img/us_1.webp' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Offices Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <br>
            <h1 class="display-5 mb-5">Nuestras Oficinas</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp"></div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <img class="img-fluid" src="{%static 'core/img/matriz.webp' %}" alt="oficina_matriz">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-square bg-primary" style="width: 90px; height: 90px;">
                            <i class="fa fa-2x fa-share text-white"></i>
                        </div>
                        <div class="position-relative overflow-hidden bg-light d-flex flex-column justify-content-center w-100 ps-4"
                            style="height: 90px;">
                            <h5>Oficina Matriz</h5>
                            <span class="text-primary">El Conde</span>
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle mx-1" href="{{LINK_WHATSAPP}}" target="_blank" rel="noreferrer noopener"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle mx-1" 
                                    href="https://www.google.com/maps/place/0%C2%B018'06.7%22S+78%C2%B032'24.8%22W/@-0.3018716,-78.5424176,17z/data=!3m1!4b1!4m4!3m3!8m2!3d-0.3018716!4d-78.5402289"
                                    target="_blank"><i class="fab fa-periscope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <img class="img-fluid" src="{%static 'core/img/agencia_colon.webp' %}" alt="Sucursal_norte">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-square bg-primary" style="width: 90px; height: 90px;">
                            <i class="fa fa-2x fa-share text-white"></i>
                        </div>
                        <div class="position-relative overflow-hidden bg-light d-flex flex-column justify-content-center w-100 ps-4"
                            style="height: 90px;">
                            <h5>Sucursal Norte</h5>
                            <span class="text-primary">Av. Colon</span>
                            <div class="team-social">
                                <a class="btn btn-square btn-dark rounded-circle mx-1" href="https://wa.me/593988663057" target="_blank" rel="noreferrer noopener"><i
                                        class="fab fa-whatsapp"></i></a>
                                <a class="btn btn-square btn-dark rounded-circle mx-1" 
                                    href="https://www.google.com/maps/place/0%C2%B018'06.7%22S+78%C2%B032'24.8%22W/@-0.3018716,-78.5424176,17z/data=!3m1!4b1!4m4!3m3!8m2!3d-0.3018716!4d-78.5402289" 
                                    target="_blank"><i class="fab fa-periscope"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp"></div>
        </div>
    </div>
</div>
<!-- Offices End -->
<!-- Start Galery -->
<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
    <br>
    <br>
    <h1 class="display-5 mb-5">Galería</h1>
</div>
<div class="galery">
    <section>
        <img src="{%static 'core/img/1.webp' %}" alt="">
        <img src="{%static 'core/img/2.webp' %}" alt="">
        <img src="{%static 'core/img/3.webp' %}" alt="">
        <img src="{%static 'core/img/4.webp' %}" alt="">
        <img src="{%static 'core/img/6.webp' %}" alt="">
        <img src="{%static 'core/img/7.webp' %}" alt="">
        <img src="{%static 'core/img/8.webp' %}" alt="">
    </section>
</div>
<!-- End Galery -->
{% endblock %}