{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content%}
<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'core/img/carousel-1.webp'%}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 text-start">
                                <p class="fs-5 fw-medium text-primary text-uppercase animated slideInRight">30 años de experiencia en el mercado</p>
                                <h1 class="display-1 text-white mb-5 animated slideInRight">Empresa importadora de repuestos electrónicos</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'core/img/carousel-2.webp'%}" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 text-start">
                                <p class="fs-5 fw-medium text-primary text-uppercase animated slideInRight">30 años de experiencia en el mercado</p>
                                <h1 class="display-1 text-white mb-5 animated slideInRight">Productos de calidad con garantía y al mejor precio</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- Facts Start -->
<div class="container-fluid facts my-5 p-5">
    <div class="row g-5">
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="text-center border p-5">
                <i class="fa fa-certificate fa-3x text-white mb-3"></i>
                <br>
                <br>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">30</h1>
                <span class="fs-5 fw-semi-bold text-white">Años de experiencia en el mercado</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="text-center border p-5">
                <i class="fa fa-users fa-3x text-white mb-3"></i>
                <br>
                <br>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">4657</h1>
                <span class="fs-5 fw-semi-bold text-white">Clientes felices con nuestro servicio</span>
            </div>
        </div>
        <div class="col-md-6 col-xl-4 wow fadeIn" data-wow-delay="0.7s">
            <div class="text-center border p-5">
                <i class="fa fa-check-double fa-3x text-white mb-3"></i>
                <br>
                <span class="fs-5 fw-semi-bold text-white">Más de</span>
                <h1 class="display-2 text-primary mb-0" data-toggle="counter-up">10000</h1>
                <span class="fs-5 fw-semi-bold text-white">repuestos disponibles</span>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->

<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row gx-3 h-100">
                        <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'core/img/about-1.webp' %}">
                        </div>
                        <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                            <img class="img-fluid" src="{% static 'core/img/about-2.webp' %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Somos líderes en el mercado</h1>
                    <p class="mb-4">Audio Parts Electronics quiere hacer la diferencia y 
                        buscar una mejora de nuestros servicios, siendo exigentes con nuestro 
                        trabajo buscando siempre la excelencia y eficiencia en nuestros procesos.
                    </p>
                    <div class="d-flex align-items-center mb-4">
                        <div class="ms-4">
                            <p><i class="fa fa-check text-primary me-2"></i>Compromiso</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Garantía</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Calidad</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Responsabilidad</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a class="btn btn-square btn-primary rounded-circle me-2" href="mailto:baudioparts@gmail.com" 
                                    aria-label="mail">
                                    <i class="fa fa-envelope-open text-white"></i></a>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Correo Electrónico</p>
                                    <h5 class="mb-0">baudioparts@gmail.com</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a class="btn btn-square btn-primary rounded-circle me-2" href="{{LINK_WHATSAPP}}" 
                                    aria-label="WhatsApp" 
                                    target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i></a>
                                </div>
                                <div class="ms-3">
                                    <p class="mb-2">Contactanos</p>
                                    <h5 class="mb-0">0981 972 897</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock %}