{% extends 'core/base.html' %}

{% load static %}

{% block title %}Política de Privacidad{% endblock %}

{% block content%}
<!-- Page Header Start -->
<div class="container-fluid page-header-privacy py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white animated slideInRight">Copyright / Política de Privacidad</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
	<br>
	<h1 class="display-5 mb-4">Copyright - Derechos de autor</h1>
    <p class="mb-4">Al utilizar este sitio web, usted acepta que el contenido del mismo (incluyendo gráficos, fotos, imágenes y material escrito) es proporcionado por Audio Parts Electronics. El contenido de este sitio web está protegido por derechos de autor, marca y otros derechos de propiedad. Usted reconoce que estos derechos son válidos, y que el uso que usted haga del contenido de este sitio web estará regido por las leyes de derechos de autor, de marca y otra propiedad intelectual aplicables.</p>
    <br>
    <p class="mb-4">Todo el contenido del sitio web de Audio Parts Electronics., está protegido por leyes de derecho de autor ecuatorianas e internacionales como un trabajo colectivo y/o compilación, y Audio Parts Electronics., posee derechos de autor sobre el contenido y la coordinación, arreglo y cualquier mejora de dicho contenido. Puede realizar una copia de algún elemento de contenido, incluyendo material protegido por derechos de autor, para su uso personal, siempre y cuando se asegure que cualquier aviso de derecho de autor, de marca u otros derechos de propiedad asociado con el mismo esté incluido en dicha copia, exactamente como aparecen en el contenido original. Salvo por lo que se indica específicamente aquí, ninguna parte de este sitio web deberá ser copiada, modificada, publicada, vendida o transferida, en su totalidad o en parte, sin el previo consentimiento por escrito de Audio Parts Electronics.</p>
    <br>
    <h1 class="display-5 mb-4">Limitación de responsabilidad</h1>
    <p class="mb-4">Audio Parts Electronics. será responsable ante terceros con respecto a ninguno de los materiales contenidos en este sitio web, ni ningún uso o confianza en dichos materiales por parte de terceros. Además, Audio Parts Electronics. no será responsable de cualquier daño (incluidos daños especiales o consecuenciales) o lesiones causadas por algún incumplimiento, error, omisión, interrupción, defecto, retraso en la operación de la transmisión, virus de computadora, falla de la línea de comunicación, robo o destrucción, o acceso no autorizado a, o alteración de este sitio web, o los materiales en él. La limitación de responsabilidad anterior está sujeta a la ley aplicable.</p>
    <p class="mb-4">Este sitio web, el material y contenido del mismo se proporcionan "tal cuales", y sin ninguna garantía, expresa o implícita, de ningún tipo. La anterior limitación de garantías implícitas está sujeta a la ley aplicable.</p>
    <p class="mb-4">Audio Parts Electronics. se reserva el derecho de modificar o enmendar el contenido de este sitio web en cualquier momento y sin previo aviso.</p>
    <br>
    <h1 class="display-5 mb-4">Enlaces a sitios de terceros</h1>
    <p class="mb-4">Este sitio web puede contener enlaces a sitios de terceros. Estos enlaces se proporcionan para la conveniencia de los usuarios de este sitio web y Audio Parts Electronics., no controla ni respalda el contenido de dichos sitios de terceros. Usted reconoce y acepta que Audio Parts Electronics., no es responsable del contenido o precisión de algún sitio de terceros enlazados desde este sitio web, no formulan declaración ni garantía alguna respecto al contenido o precisión de la información disponible en dicho sitio de terceros, y no será responsable por ningún daño o lesión que surja o esté relacionada de alguna manera con una disputa con otro sitio.</p>
    <br>
    <h1 class="display-5 mb-4">Política de privacidad</h1>
    <p class="mb-4">Audio Parts Electronics., valora sus relaciones con usted como cliente, inversionista u otro miembro del público y está comprometido con la protección de su información personal. Este aviso de privacidad le informará respecto a cómo cuidamos sus datos personales cuando visita nuestro sitio web (independientemente de desde dónde lo visite) y sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p class="mb-4">Este aviso de privacidad busca proporcionarle información sobre cómo Audio Parts Electronics. recolecta y procesa sus datos personales mediante el uso que hace de este sitio web, incluyendo cualquier dato que pueda proporcionar a través de este sitio web.</p>
    <p class="mb-4">Este sitio web no está pensado para uso por niños y no recolectamos intencionalmente datos relacionados a niños.</p>
    <p class="mb-4">Es importante que lea este aviso de privacidad junto con algún otro aviso de privacidad o aviso de procesamiento justo que podamos proporcionar en ocasiones específicas cuando estemos recolectando o procesando datos personales sobre usted de manera que tenga pleno conocimiento de cómo y por qué estamos utilizando sus datos. Este aviso de privacidad complementa los otros avisos y no tiene por objeto invalidarlos.</p>
    <p class="mb-4">Diversas leyes nacionales, provinciales, estatales y federales rigen la recopilación, uso y divulgación, por parte de Audio Parts Electronics., de información personal utilizada para una actividad comercial.</p>
    <br>
    <h1 class="display-5 mb-4">Protección de información personal</h1>
    <p class="mb-4">Audio Parts Electronics utilizará medidas de seguridad técnicas y organizacionales razonables para proteger su información personal contra el acceso, uso, divulgación, pérdida, modificación o destrucción no autorizados. Los trabajadores de Audio Parts Electronics continuarán siguiendo la política de Confidencialidad de larga data de Audio Parts Electronics., así como otras políticas y procedimientos de seguridad.</p>
    <br>
    <h1 class="display-5 mb-4">En caso de reclamos</h1>
    <p class="mb-4">Si considera que Audio Parts Electronics., no está cumpliendo con su propia Política de Privacidad o con las leyes de privacidad del sector privado, puede presentar una queja ante el encargado de protección de datos de Audio Parts Electronics <a href="mailto:baudioparts@gmail.com">(baudioparts@gmail.com)</a> quien designará a una persona con autoridad para investigar la queja. Si la queja no se resuelve a su satisfacción, puede realizar una solicitud por escrito a la entidad reguladora o los funcionarios de protección de datos nacionales, provinciales, estatales o federales pertinentes para que investiguen la queja.</p>
</div>

{% endblock %}